body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}


.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
    
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    background-color: #006400;
    color: white;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
}
.news{
    background-color: #006400;
    padding: 30px   ;
}

.news-grid {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 20px;
    overflow-x: auto;
}

.form {
    background-color: white;
    width: 23%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.news-item img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.news-item h2 {
    font-size: 18px;
    margin: 10px;
}

.news-item p {
    font-size: 14px;
    margin: 10px;
    flex-grow: 1;
}

.btn {
    text-align: center;
    margin: 10px;
}

.read-more {
    display: inline-block;
    background-color: #006400;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
}

.read-more:hover {
    background-color: #004d00;
}

@media (max-width: 1024px) {
    .news-grid {
        flex-wrap: wrap;
    }

    .form {
        width: 48%;
    }
}

@media (max-width: 768px) {
    .form {
        width: 100%;
    }
}